# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

file_path = os.path.join('output_data','cities.csv')
cities_df = pd.read_csv(file_path)
cities_df.head(20)

,City,Latitude,Longitude,Temperature,Max Temp,Humidity,Wind Speed (mph),Cloudiness
0,buala,-8.1450,159.5921,81.45,81.45,79,3.13,99
1,hilo,19.7297,-155.0900,70.48,78.80,65,3.44,90
2,tuatapere,-46.1333,167.6833,55.00,55.00,93,15.01,97
3,okhotsk,59.3833,143.3000,39.04,39.04,72,2.64,55
4,busselton,-33.6500,115.3333,62.01,62.01,95,1.99,100
5,la ronge,55.1001,-105.2842,28.40,28.40,69,3.44,59
6,jamestown,42.0970,-79.2353,60.03,60.80,94,6.91,90
7,lebu,-37.6167,-73.6500,53.69,53.69,89,3.18,74
8,ouesso,1.6136,16.0517,72.72,72.72,94,1.07,100
9,butaritari,3.0707,172.7902,82.94,82.94,72,9.13,95
10,hervey bay,-25.2986,152.8535,75.00,75.00,63,5.01,83
11,ponta do sol,32.6667,-17.1000,53.01,59.00,81,1.99,66
12,pisco,-13.7000,-76.2167,61.74,63.00,94,3.44,24
13,kiama,-34.6833,150.8667,69.98,71.01,70,8.01,60
14,esperance,-33.8667,121.9000,86.00,86.00,14,24.16,99
15,kuching,1.5500,110.3333,91.20,91.40,62,3.44,40
16,hovd,48.0056,91.6419,67.37,67.37,22,9.69,30
17,touros,-5.1989,-35.4608,73.40,73.40,94,4.61,20
18,saint-georges,12.0564,-61.7485,80.60,80.60,83,16.11,20
19,redlands,34.0556,-117.1825,62.24,66.20,24,3.11,1

In [3]:
cities_df.loc[cities_df['Humidity']>=50,:]

,City,Latitude,Longitude,Temperature,Max Temp,Humidity,Wind Speed (mph),Cloudiness
0,buala,-8.1450,159.5921,81.45,81.45,79,3.13,99
1,hilo,19.7297,-155.0900,70.48,78.80,65,3.44,90
2,tuatapere,-46.1333,167.6833,55.00,55.00,93,15.01,97
3,okhotsk,59.3833,143.3000,39.04,39.04,72,2.64,55
4,busselton,-33.6500,115.3333,62.01,62.01,95,1.99,100
...,...,...,...,...,...,...,...,...
552,sitka,57.0531,-135.3300,46.40,46.40,87,5.75,90
553,camana,-16.6228,-72.7111,65.61,65.61,88,7.99,21
554,carauari,-4.8828,-66.8958,72.03,72.03,99,2.98,100
555,saint joseph,39.7686,-94.8466,58.50,60.01,88,8.05,90
556,yar,58.2490,52.1026,41.41,41.41,66,13.76,67

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations = cities_df[["Latitude", "Longitude"]]
humidity = cities_df['Humidity'].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
max_temp = 80
min_temp = 50
wind_speed = 10

cities_max_temp = cities_df.loc[cities_df['Temperature'] <= max_temp,:]
cities_max_temp
cities_min_temp = cities_max_temp.loc[cities_max_temp['Temperature']>min_temp,:]
cities_min_temp
cities_wind = cities_min_temp.loc[cities_min_temp['Wind Speed (mph)']<wind_speed,:]
cities_wind
cities_map = cities_wind.loc[cities_wind['Cloudiness']==0,:].reset_index()
print(len(cities_map))
cities_map

23

,index,City,Latitude,Longitude,Temperature,Max Temp,Humidity,Wind Speed (mph),Cloudiness
0,21,mar del plata,-38.0023,-57.5575,57.67,63.00,94,8.05,0
1,34,saint pete beach,27.7253,-82.7412,73.08,75.00,1,1.99,0
2,108,vallenar,-28.5708,-70.7581,59.16,59.16,71,1.19,0
3,147,fram,-26.9833,-55.8833,57.20,57.20,72,9.22,0
4,217,linqiong,30.4159,103.4609,78.84,81.00,50,2.24,0
5,219,linxia,35.6003,103.2064,69.08,69.08,16,4.54,0
6,226,reconquista,-29.1500,-59.6500,53.94,53.94,78,2.71,0
7,227,toktogul,41.8708,72.9402,69.30,69.30,38,1.19,0
8,238,comodoro rivadavia,-45.8667,-67.5000,57.20,57.20,58,4.61,0
9,247,mustafakemalpasa,40.0353,28.4117,61.81,66.20,82,5.75,0
10,255,port augusta,-32.5000,137.7667,76.55,78.01,31,9.22,0
11,290,saucillo,28.0167,-105.2833,56.25,56.25,31,6.85,0
12,351,yulara,-25.2406,130.9889,77.00,77.00,18,9.22,0
13,391,drugovo,41.4842,20.9233,55.40,55.40,76,3.06,0
14,423,biga,40.2281,27.2422,59.00,59.00,82,5.75,0
15,442,madaba,31.5833,35.6667,79.14,80.60,29,4.61,0
16,449,el sauzal,31.9000,-116.6833,57.99,57.99,84,1.01,0
17,473,mazagao,-0.1150,-51.2894,77.00,77.00,94,2.30,0
18,493,keetmanshoop,-26.5833,18.1333,53.60,53.60,66,8.05,0
19,512,mokrous,51.2333,47.5167,50.99,50.99,45,7.38,0
20,519,arroio grande,-32.2375,-53.0869,50.83,50.83,84,3.47,0
21,539,mardin,37.3131,40.7436,78.80,78.80,36,4.81,0
22,550,safaga,26.7292,33.9365,75.20,75.20,27,8.05,0

# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:

locations = cities_map[["Latitude", "Longitude"]]
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    #"location": locations,  # philadelphia coords
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
    'fields': 'formatted_address'
}
# use iterrows to iterate through pandas dataframe
for index, row in cities_map.iterrows():

    # get location
    city_name = row['City']
    lat = row['Latitude']
    lng = row['Longitude']
    params['location'] = f'{lat},{lng}'


    # add keyword to params dict
    #params['keyword'] = city_name

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {city_name} Hotel is {results[0]['name']}.")
        
        cities_map.loc[index,'Hotel Name'] =results[0]['name']
        #cities_map.loc[index, 'name'] = results[0]['name']
        cities_map.loc[index, 'Country'] = results[0]['vicinity']
        #cities_map.loc[index, 'price_level'] = results[0]['price_level']
        #cities_map.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: mar del plata.
Closest mar del plata Hotel is Mari Alt Costuras.
------------
Retrieving Results for Index 1: saint pete beach.
Closest saint pete beach Hotel is Laura A. Halprin, P.A..
------------
Retrieving Results for Index 2: vallenar.
Closest vallenar Hotel is Juan Manuel Barrera Marin.
------------
Retrieving Results for Index 3: fram.
Closest fram Hotel is CEMENTERIO LA PAZ, ITAPUA.
------------
Retrieving Results for Index 4: linqiong.
Closest linqiong Hotel is Qionglai Elite Vocational Skills Training School.
------------
Retrieving Results for Index 5: linxia.
Closest linxia Hotel is 天桥旅行社.
------------
Retrieving Results for Index 6: reconquista.
Closest reconquista Hotel is Coquetas Modas.
------------
Retrieving Results for Index 7: toktogul.
Closest toktogul Hotel is Tsentral'nyy Rynok.
------------
Retrieving Results for Index 8: comodoro rivadavia.
Closest comodoro rivadavia Hotel is Escuela Nivel Inicial Monigote.
------------
Retrieving Results for Index 9: mustafakemalpasa.
Closest mustafakemalpasa Hotel is Elbir Gross Market.
------------
Retrieving Results for Index 10: port augusta.
Closest port augusta Hotel is Men's Shed.
------------
Retrieving Results for Index 11: saucillo.
Closest saucillo Hotel is Procesadora Varzu.
------------
Retrieving Results for Index 12: yulara.
Closest yulara Hotel is Ayers Rock Resort.
------------
Retrieving Results for Index 13: drugovo.
Closest drugovo Hotel is Holy Sunday.
------------
Retrieving Results for Index 14: biga.
Closest biga Hotel is Diş Hekimi Hakan ÇAPALOV.
------------
Retrieving Results for Index 15: madaba.
Closest madaba Hotel is مزرعة الريحان - Alrayhan Farm.
------------
Retrieving Results for Index 16: el sauzal.
Closest el sauzal Hotel is Rancho "Polígono C".
------------
Retrieving Results for Index 17: mazagao.
Closest mazagao Hotel is Cras Margarida.
------------
Retrieving Results for Index 18: keetmanshoop.
Closest keetmanshoop Hotel is KEETMANSHOOP CENTRAL SEVENTH DAY ADVENTIST CHURCH.
------------
Retrieving Results for Index 19: mokrous.
Closest mokrous Hotel is Magnit.
------------
Retrieving Results for Index 20: arroio grande.
Closest arroio grande Hotel is Estação Rodoviária Arroio Grande.
------------
Retrieving Results for Index 21: mardin.
Closest mardin Hotel is Molla Hari-süleyman Paşa Cami.
------------
Retrieving Results for Index 22: safaga.
Closest safaga Hotel is جمعيه ابناء الجبلاوي بسفاجا.
------------

In [8]:
results[0]['vicinity']

'إبن رشد، قسم سفاجا، البحر الأحمر،'

In [9]:
hotel_df = cities_map.drop(['index'], axis = 1).rename(columns={'Latitude': 'Lat','Longitude':'Lng'})
#hotel_info = hotel_info.rename(columns={'Latitude': 'Lat','Longitude':'Lng'})
hotel_df

,City,Lat,Lng,Temperature,Max Temp,Humidity,Wind Speed (mph),Cloudiness,Hotel Name,Country
0,mar del plata,-38.0023,-57.5575,57.67,63.00,94,8.05,0,Mari Alt Costuras,Mar del Plata
1,saint pete beach,27.7253,-82.7412,73.08,75.00,1,1.99,0,"Laura A. Halprin, P.A.","Gulf Boulevard, St. Pete Beach"
2,vallenar,-28.5708,-70.7581,59.16,59.16,71,1.19,0,Juan Manuel Barrera Marin,"Gabriela Mistral 1355, Vallenar"
3,fram,-26.9833,-55.8833,57.20,57.20,72,9.22,0,"CEMENTERIO LA PAZ, ITAPUA",Unnamed Road
4,linqiong,30.4159,103.4609,78.84,81.00,50,2.24,0,Qionglai Elite Vocational Skills Training School,"65 Xue Dao Jie, Qionglai Shi, Chengdu Shi"
5,linxia,35.6003,103.2064,69.08,69.08,16,4.54,0,天桥旅行社,"82 Hong Yuan Lu, Linxia Shi, Linxia Huizuzizhi..."
6,reconquista,-29.1500,-59.6500,53.94,53.94,78,2.71,0,Coquetas Modas,Reconquista
7,toktogul,41.8708,72.9402,69.30,69.30,38,1.19,0,Tsentral'nyy Rynok,Toktogul
8,comodoro rivadavia,-45.8667,-67.5000,57.20,57.20,58,4.61,0,Escuela Nivel Inicial Monigote,"Maipú 1666, Comodoro Rivadavia"
9,mustafakemalpasa,40.0353,28.4117,61.81,66.20,82,5.75,0,Elbir Gross Market,Fevzi Paşa Cad. No:221
10,port augusta,-32.5000,137.7667,76.55,78.01,31,9.22,0,Men's Shed,Port Augusta
11,saucillo,28.0167,-105.2833,56.25,56.25,31,6.85,0,Procesadora Varzu,Calle Durango 609 Colonia Agustín Melgar Entre...
12,yulara,-25.2406,130.9889,77.00,77.00,18,9.22,0,Ayers Rock Resort,"257 Yulara Drive, Yulara"
13,drugovo,41.4842,20.9233,55.40,55.40,76,3.06,0,Holy Sunday,
14,biga,40.2281,27.2422,59.00,59.00,82,5.75,0,Diş Hekimi Hakan ÇAPALOV,İstiklal
15,madaba,31.5833,35.6667,79.14,80.60,29,4.61,0,مزرعة الريحان - Alrayhan Farm,"Unnamed Road, مكاور،"
16,el sauzal,31.9000,-116.6833,57.99,57.99,84,1.01,0,"Rancho ""Polígono C""",El Sauzal
17,mazagao,-0.1150,-51.2894,77.00,77.00,94,2.30,0,Cras Margarida,"Rua Coaracy Nunes, Mazagão"
18,keetmanshoop,-26.5833,18.1333,53.60,53.60,66,8.05,0,KEETMANSHOOP CENTRAL SEVENTH DAY ADVENTIST CHURCH,Keetmanshoop
19,mokrous,51.2333,47.5167,50.99,50.99,45,7.38,0,Magnit,"Ulitsa Pobedy, 37, Mokrous"
20,arroio grande,-32.2375,-53.0869,50.83,50.83,84,3.47,0,Estação Rodoviária Arroio Grande,"Rua Dom Pedro II, 330, Arroio Grande"
21,mardin,37.3131,40.7436,78.80,78.80,36,4.81,0,Molla Hari-süleyman Paşa Cami,"Şehidiye, 24. Destan Sokak No:14"
22,safaga,26.7292,33.9365,75.20,75.20,27,8.05,0,جمعيه ابناء الجبلاوي بسفاجا,إبن رشد، قسم سفاجا، البحر الأحمر،

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map


# Display figure