In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json

from citipy import citipy


from config import gkey

In [3]:
cities_pd = pd.read_csv('Cities.csv')
cities_pd.head(20)
print(len(cities_pd))

447

In [7]:
temp_min = 70
temp_max = 80
wind_speed_max = 10 #mph
cloudiness = 0

city_temp_max = cities_pd.loc[ cities_pd['Temperature'] <temp_max,:]

city_temp = city_temp_max.loc[temp_min>= city_temp_max['Temperature'],:]
city_wind = cities_temp.loc[cities_temp['Wind Sped (mph)']<wind_speed_max,:]
city_wind

,index,City,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Sped (mph)
0,1,Albany,64.85,42.6001,-73.9662,43.0,81.0,3.09
1,3,Cherskiy,17.28,68.7500,161.3000,90.0,100.0,7.14
2,4,Busselton,62.62,-33.6500,115.3333,93.0,100.0,5.12
3,5,Clyde River,17.60,70.4692,-68.5914,79.0,1.0,4.21
5,8,South Sioux City,50.94,42.4739,-96.4136,87.0,75.0,9.22
...,...,...,...,...,...,...,...,...
255,438,Tromsø,31.69,69.6496,18.9570,80.0,75.0,3.44
256,439,Boguchar,52.48,49.9358,40.5450,40.0,43.0,5.77
257,440,Nagato,58.41,34.3833,131.2000,94.0,75.0,3.44
258,441,Xaçmaz,56.82,41.4635,48.8060,75.0,100.0,5.93
259,443,Khuzhir,21.97,53.1939,107.3397,80.0,3.0,2.98